TestRealmLdap {
    com.sun.security.auth.module.LdapLoginModule sufficient
    userProvider="ldap://ldap-svr/ou=people,dc=example,dc=com"
    userFilter="(&(uid={USERNAME})(objectClass=inetOrgPerson))"
    authzIdentity="{EMPLOYEENUMBER}"
    debug=true;
};

TestRealmSQL {
    org.waastad.jaas.WaastadLoginModule required debug=true;
};